csv2salesforce/src/main/app/csv2sf.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/sfdc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:datapack="http://www.mulesoft.org/schema/mule/datapack"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/4.0/mule-sfdc.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/jdbc/current/mule-jdbc-ee.xsd 
http://www.mulesoft.org/schema/mule/datapack http://www.mulesoft.org/schema/mule/datapack/3.2/mule-datapack.xsd ">
	<salesforce:config name="mySalesforce" username="idp@jonathanrico.com"
		password="tcj4rixm" securityToken="NPMGADB1wt1FITf0d6JaU10vn"
		doc:name="Salesforce" />
	<flow name="CSV2SFFlow1" doc:name="CSV2SFFlow1">
		<file:inbound-endpoint path="/temp/csv/in"
			moveToPattern="output.csv.backup" moveToDirectory="/temp/csv/out"
			doc:name="File" />
		
		<and-filter doc:name="And">
		<expression-filter evaluator="xpath" expression="//"
			doc:name="Expression" />
			<expression-filter evaluator="xpath" expression="//"
			doc:name="Expression" />
			</and-filter>
		<object-to-string-transformer doc:name="Object-to-String" />
		<datapack:delimited-to-maps-transformer
			delimiter="," lineDelimiter="\r" readFromLine="2">
			<datapack:column column-name="AccountId" />
			<datapack:column column-name="LastName" />
			<datapack:column column-name="FirstName" />
		</datapack:delimited-to-maps-transformer>
		<collection-splitter doc:name="Split Records" />
		<logger message="#[payload:]" level="INFO" doc:name="Logger" />
		<salesforce:create config-ref="mySalesforce" type="Contact"
			doc:name="Salesforce">
			<salesforce:objects>
				<salesforce:object />
			</salesforce:objects>
		</salesforce:create>
		<logger message="#[payload:]" level="INFO" doc:name="Logger" />
	</flow>
</mule>
